* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #7f808c;
}

#chat {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 0;
  list-style: none;
}
#chat li {
  background-color: #89ebaf55;
  display: flex;
  margin-bottom: 32px;
}
#chat li .avatar {
  padding: 0 16px;
  display: flex;
  align-items: flex-end;
}
#chat li .avatar img {
  border-radius: 50%;
  width: 48px;
}
#chat li .message {
  flex: 1;
  background-color: #89ebaf55;
  padding: 16px;
  border-radius: 8px;
  border-bottom-left-radius: 0;
}
#chat li .message strong {
  color: #25462f;
}
#chat li .message p {
  font-size: 14px;
}
#chat li .message time {
  font-size: 12px;
  letter-spacing: 1px;
  opacity: 0.65;
}
#chat li .menu {
  display: flex;
  align-items: center;
}
#chat li .menu button {
  border: none;
  border-radius: 50%;
  background: rgba(11, 76, 218, 0.199);
  outline: none;
}
#chat li .menu button img {
  width: 16px;
  opacity: 0.5;
  cursor: pointer;
}
#chat li.me {
  flex-direction: row-reverse;
  color: #ffff;
}
#chat li.me .message {
  background-color: #1a8a0b;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
}
#chat li.me .message ::selection {
  background: #fff;
  color: #1a8a0b;
}
#chat li.me strong {
  display: none;
}