* {
  box-sizing: border-box;
}

a {
  color: #111;
  text-decoration: none;
}
a:hover {
  color: #00f;
}

.button {
  background-color: #00f;
  color: #fff;
  padding: 8px 32px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 15px;
}
.button:hover {
  background-color: rgba(0, 0, 255, 0.8);
}

#logo {
  color: #00f;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}

body {
  margin: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 16px;
}
header nav {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main {
  margin: 15vw;
  padding-right: 320px;
  background-image: url(https://picsum.photos/id/1060/300/400);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 300px;
  min-height: 400px;
}
main h1 {
  font-weight: bold;
}