$color: #7f808c;
$primary: #1a8a0b;
$background-color: #89ebaf55;


*{
    box-sizing: border-box;
}
body {
    
    margin: 0;
    font-family: sans-serif;
    color: $color;
}

#chat {
    
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 0;
    list-style: none;
    li{
        background-color: $background-color;
        display: flex;
        margin-bottom: 32px;
        .avatar {
            padding:  0 16px;
            display: flex;
            align-items: flex-end;
            img {
                border-radius: 50%;
                width: 48px;
            }
        }
        .message {
             
            flex: 1;
            background-color: $background-color;
            padding: 16px;
            border-radius: 8px;
            border-bottom-left-radius: 0;
               strong {
            color: #25462f
        }
                p {
            font-size: 14px;
        }
                time {
            font-size: 12px;
            letter-spacing: 1px;
            opacity: .65;
        }
        }
        .menu {
            display: flex;
            align-items: center;
            button {
                border: none;
                border-radius: 50%;
                background: rgba(11, 76, 218, 0.199);
                outline: none;
                img{
                    width: 16px;
                    opacity: .5;
                    cursor: pointer;
                }
                
            }
        }
        &.me{
            $background-color: $primary;
            flex-direction: row-reverse;
            color: #ffff;
            .message{
                background-color: $background-color;
                border-bottom-left-radius: 10px;
                border-top-right-radius: 0;
                ::selection{
                    background: #fff;
                    color: $primary;
                }
            }
            strong{
                display: none;
            }
        }
    }
}
